*{
  margin:15;
  padding:55;
}
.grid {
  display:grid;
  grid-template-columns: 1.5fr 1fr ;
}

.gq {
grid-column-start: 1;
grid-column-end:2;
}
.grid div:nth-child(even) {
background-color:white;
}
.grid div:nth-child(odd) {
background-color:white;
}

@@font-face {
  src:url(fonts/morva.otf);
font-family:morva;
src:url (fonts/aauxnext.otf);
font-family:aauxnext;
src:url (fonts/BebasNeue.otf);
font-family:BebasNeue;
}


}
a {
font-family: arial;
    font-size: 10;
    color: red;
    font-weight:0;
    text-align:right;
    text-decoration-line: none;
    text-indent:0;
    text-transform: capitalize;
    letter-spacing: 5px;

}
h1 {
    font-family:BebasNeue;
    font-size: 32px;
    color: black;
    text-align: center;
    font-weight:200;
    text-decoration-line: none;
    text-indent:0;
    text-transform: capitalize;
    letter-spacing: 15px;


}

h2 {
  font-size: 67px;
  text-indent:1em;
  color: red;
  font-weight: 100;
  letter-spacing: -2px;
  padding: 18px;
  font-family: aauxnext;
  font-style: italic;
}
.center {
  display: block;
  margin-left:auto;
  margin-right: auto;
  width: 50%;
}

p{
  font-family: arial;
  line-height: 20px;
  padding: 30px;
  word-wrap: break-word;
  text-align: left;


}

h6 {
  font-family: serif;
  font-size: 12px;
  text-indent:1em;


}
